#change_menu_container {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 5.5px 1.5px rgba(0, 0, 0, 0.12);

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    user-select: none;
  }
}

#switch_container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.5rem;
  padding: 0.4rem 0.45rem;

  background-color: #CACACA;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;

  svg {
    color: white;
  }

  &:has(#switch_checkbox:checked) {
    background-color: #B148B7;

    & #switch_slider {
      left: calc(100% - 1.55rem);
    }
  }
}

#switch_checkbox {
  display: none;
  width: 0;
  height: 0;
}

#switch_slider {
  position: absolute;
  top: 0.3rem;
  bottom: 0.3rem;
  left: 0.3rem;
  width: 1.25rem;
  background-color: white;
  border-radius: 4px;
  transition: all 0.4s;
}