aside {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;

  background-color: white;
  box-shadow: -4px -3px 12px -3px rgba(0, 0, 0, 0.25);
}

#sidebar_title {
  text-align: center;
  padding: 1rem 1.5rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

#divider {
  width: 100%;
  height: 2px;
  background-color: #EAEAEA;
}

.grid_form {
  display: grid;
  row-gap: 0.5rem;
  column-gap: 1rem;
}

.two_columns {
  grid-template-columns: 1fr 1fr;
}

.three_columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.entire_row {
  grid-column: 1 / -1;
}

#table_title_text_align {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: inherit;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 0.2rem;
}

#table_title_text_align label {
  margin: 0;
  padding: 0.2rem;
  border-radius: 4px;
  cursor: pointer;

  svg {
    display: block;
    height: 1rem;
  }
}

#table_title_text_align label:has(input[type="radio"]:checked) {
  background-color: #D9D9D9;
}

#table_title_text_align input[type="radio"] {
  display: none;
  height: 0;
  width: 0;
}