* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #000;
  background-color: #EAEAEA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
}

section {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  padding: 2rem;
  overflow-x: auto;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

input,
select {
  width: 100%;
  background-color: inherit;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem;
}

input[type="checkbox"] {
  width: auto;
  accent-color: #752F79;
  height: 1rem;
  width: 1rem;
  background-color: inherit;
  border: 1px solid #D9D9D9;
  cursor: pointer;
}

input:focus,
select:focus {
  outline: 2px solid #752F79;
}

button svg {
  vertical-align: middle;
  transition: all 0.2s;
}

.action_button {
  padding: 0.5rem;
  background-color: #F9F9F9;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    background-color: #f3f3f3;
  }

  &:disabled {
    background-color: #F9F9F9;
    cursor: not-allowed;
  }
}

@media (max-width: 1280px) {
  :root {
    font-size: 95%;
  }
}

@media (max-width: 1024px) {
  :root {
    font-size: 90%;
  }
}

@media (max-width: 768px) {
  :root {
    font-size: 85%;
  }
}

@media (max-width: 670px) {
  #root {
    flex-direction: column;
  }

  section {
    padding: 1rem;
  }
}